<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <style>
        #status {color:red}
    </style>
    <body>
        <div class="container">
            <div class="row">
                <div class="page-header">
                    <h1> Ajax Simulator </h1>
                    <button type="button" id="ajax" onClick="ajax()">Ajax</button>
                    <button type="button" id="notAjax" onClick="notAjax()">Not Ajax</button>
                    <p>status: <span id="status"></span></p>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="container">
                <div class="row">
                    <textarea cols="50" rows="10" placeholder="通信中に文字を入力してみて下さい"></textarea>
                </div>
            </div>
        </div>
    </body>
    <script>
        function wait(){
            $("#status").html("通信待機中");
        };

        function transmit(type){
            $("#status").html("通信中: "+type);
        };
    
        function ajax(){
            transmit("Ajax");
            $.ajax({
                type: 'GET',
                url: "calc",
                success: function(data){
                    console.log(data);
                    $("#status").html("通信終了");
                    setTimeout("wait()",800);
                    }
                });
            };

        function notAjax(){
            transmit("Not Ajax");
            $.ajax({
                async: false,
                type: 'GET',
                url: "calc",
                success: function(data){
                    console.log(data);
                    $("#status").html("通信終了");
                    setTimeout("wait()",500);
                    }
                });
            };

        $(function(){
                wait();
                });
    </script>
</html>
